body{
    padding: 0px;
    margin: 0px;
    background-color: #EFEAD8;
}
.div1{
    height: 110px;
    width: 100%;
    display: flex;
    background-color: #5F7161;
}
.fpContainer{
    margin-left: 2%;
    width: 30%;
    float: left;
    align-self: center;
    background-color: null;
}

.fpText{
    color: #FFFFFF;
    font-family: Aleo;
    font-size: 35px;
}

.navBar{
    width: 70%;
    margin-left: 5%;
    margin-right: 2%;
    height: 60px;
    margin-top: 15px;
    display: flex;
    align-items: baseline;
    align-self: center;
    justify-content: space-evenly;
    background-color: null;
    float: right;
}

.navBarButtons{
    background-color: #5F7161;
    border: none;
    position: relative;
    font-size: 25px;
    color: #FFFFFF;
    font-family: Raleway;
    transition: all 0.2s ease
}

.navBarButtons:hover{
    transform: scale(1.2)
}


.navBarButtons:before{
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    height: 3px;
    width: 0%;
    left: 0;
    top: 40px;
    transition: all 0.3s ease;
}

.navBarButtons:hover:before{
    width: 100%;
}

.navBarPartition{
    font-size: 35px;
    color: #FFFFFF;
    font-weight: bold;
    align-self: baseline;
}