body{
    padding: 0px;
    margin: 0px;
    background-color: #EFEAD8;
}
.div1{
    height: 110px;
    width: 100%;
    display: flex;
    background-color: #5F7161;
}
.fpContainer{
    margin-left: 2%;
    width: 30%;
    float: left;
    align-self: center;
    background-color: null;
}

.fpText{
    color: #FFFFFF;
    font-family: Aleo;
    font-size: 35px;
}

.navBar{
    width: 70%;
    margin-left: 5%;
    margin-right: 2%;
    height: 60px;
    margin-top: 15px;
    display: flex;
    align-items: baseline;
    align-self: center;
    justify-content: space-evenly;
    background-color: null;
    float: right;
}

.navBarButtons{
    background-color: #5F7161;
    border: none;
    position: relative;
    font-size: 25px;
    color: #FFFFFF;
    font-family: Raleway;
    transition: all 0.2s ease
}

/* .navBarButtons:hover{
    transform: scale(1.2)
} */

b{
    font-size: 100px;
}
.navBarButtons:before{
    content: "";
    position: absolute;
    background-color: #D0C9C0;
    height: 3px;
    width: 0%;
    left: 0;
    top: 40px;
    transition: all 0.3s ease;
}

.navBarButtons:hover:before{
    width: 100%;
}

.navBarPartition{
    font-size: 35px;
    color: #D0C9C0;
    font-weight: bold;
    align-self: baseline;
}

#learnMoreButton:before{
    content: "";
    position: absolute;
    background-color: #D0C9C0;
    height: 3px;
    width: 100%;
    left: 0;
    top: 40px;
}

.text-header{
    font-family: Raleway;
    font-size: 42px;
    text-decoration:underline;
    margin-left:100px;
    margin-top:50px;
    margin-bottom: 35px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding:35px;
    width:fit-content;
}

.text-b{
    font-family: Raleway;
    font-size: 25px;
    margin-left: 200px;
    text-align: justify;
    margin-right: 200px;
}

li{
   margin-bottom: 30px;
}