body{
    padding: 0px;
    margin: 0px;
    background-color: #EFEAD8;
}
.div1{
    height: 110px;
    width: 100%;
    display: flex;
    background-color: #5F7161;
}
.fpContainer{
    margin-left: 2%;
    width: 30%;
    float: left;
    align-self: center;
    background-color: null;
}

.fpText{
    color: #FFFFFF;
    font-family: Aleo;
    font-size: 35px;
}

.navBar{
    width: 70%;
    margin-left: 5%;
    margin-right: 2%;
    height: 60px;
    margin-top: 15px;
    display: flex;
    align-items: baseline;
    align-self: center;
    justify-content: space-evenly;
    background-color: null;
    float: right;
}

.navBarButtons{
    background-color: #5F7161;
    border: none;
    position: relative;
    font-size: 25px;
    color: #FFFFFF;
    font-family: Raleway;
    transition: all 0.2s ease
}

/* .navBarButtons:hover{
    transform: scale(1.2)
} */

b{
    font-size: 100px;
}
.navBarButtons:before{
    content: "";
    position: absolute;
    background-color: #D0C9C0;
    height: 3px;
    width: 0%;
    left: 0;
    top: 40px;
    transition: all 0.3s ease;
}

.navBarButtons:hover:before{
    width: 100%;
}

.navBarPartition{
    font-size: 35px;
    color: #D0C9C0;
    font-weight: bold;
    align-self: baseline;
}

#learnMoreButton:before{
    content: "";
    position: absolute;
    background-color: #D0C9C0;
    height: 3px;
    width: 100%;
    left: 0;
    top: 40px;
}

.text-header{
    font-family: Raleway;
    font-size: 40px;
    color: #EFEAD8;
    padding:35px;
    color: #333333;
}



.text-b{
    font-family: Aleo;
    font-size: 20px;
    text-align: justify;
    margin-left: 50px;
    padding-right: 160px;
    color: #333333;
}

li{
    margin-bottom: 30px;
}

.whyparacard{
    display: flex;
    flex-direction: row;
    width: auto;
}

.whypara{
    background-color: #6D8B74;
    padding: 35px;
    border-radius: 40px;
    align-self: stretch;
    width: 1500px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
}

#line{
    height: 4px;
    background-color: #333333;
    border: 0px;
    margin-top: -20px;
    width: 85%;
}

.msppara{
    background-color: whitesmoke;
    padding: 40px;
}

.billspara{
    background-color:#D0C9C0;
    padding: 40px;
}

.imgs{
    margin: 60px;
    border-radius: 10px;
    height: 450px;
    width: 70%;
    overflow: hidden;
}




::-webkit-scrollbar {
    width: 10px;
    height: 100%;
    border-radius: 2px;
  }
  
/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#5F7161,#6D8B74,#EFEAD8,#6D8B74,#5F7161);
}
  